@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Medium'),
    url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: #17161b;
  color: #ffffff;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

img {
  flex-shrink: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

ul {
  padding-left: 0;
}

ul>li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button,
input {
  border: none;
  outline: none;
  cursor: pointer;
}

.header {
  grid-area: my-header;
}

.aside {
  grid-area: my-aside;
}

.main {
  grid-area: my-main;
}

.grid {
  display: grid;
  grid-template-areas:
    'my-header my-header my-header'
    'my-aside my-main my-main'
    'my-aside my-main my-main';
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 8rem 0;
}

.grid-init {
  position: relative;
  max-width: 144rem;
  padding: 3rem 2.4rem 4rem;
  margin: auto;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.17;
  margin-right: 7rem;
}

.header__nav {
  margin-right: 9.2rem;
}

.header__nav a {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.17;
}

.header__nav a:not(:last-child) {
  margin-right: 2.4rem;
}

.header__find {
  width: 33rem;
  height: 4.1rem;
  border-radius: 0.8rem;
  margin-right: 3.9rem;
}

.header__find input {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  background-image: url('../img/search.svg');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: top 50% right 1.5rem;
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 4.8rem;
  font-size: 2rem;
  line-height: 1.15;
  color: #ffffff;
}

.header__find input::placeholder {
  color: #ffffff;
  /* для Firefox */
  opacity: 1;
}

.header__date {
  text-align: center;
  margin-right: 8.6rem;
}

.header__hour {
  font-size: 2rem;
  line-height: 1.15;
}

.header__day {
  font-size: 1.2rem;
  line-height: 1.17;
}

.header__personal {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.main-display__trailer {
  position: relative;
  width: 100%;
  height: 20.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/back-trailer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.6rem;
  font-weight: 700;
  padding: 1.9rem;
}

.main-display__views {
  font-size: 1.6rem;
  line-height: 1.19;
}

.main-display__header {
  font-size: 2.4rem;
  line-height: 1.17;
  padding-bottom: 0.5rem;
}

.main-display__date {
  font-size: 1.4rem;
  line-height: 1.14;
}

.button-play__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8.1rem;
  height: 8.1rem;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}

.button-paly {
  width: 0;
  height: 0;
  padding: 0;
  border-top: 1.5rem solid transparent;
  border-left: 2.5rem solid #ffffff;
  border-bottom: 1.5rem solid transparent;
  background: transparent;
  border-radius: 0.2rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 0;
}

.title__left,
.title__right {
  display: flex;
  align-items: center;
}

.title__main,
.title__count {
  font-size: 2rem;
  line-height: 1.15;
}

.title__main {
  font-weight: 400;
  margin-right: 2rem;
}

.title__count {
  padding-top: 0.3rem;
  color: rgba(255, 255, 255, 0.2);
}

.title__right span {
  font-size: 1.4rem;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.2);
}

.title__right img {
  width: 1rem;
  height: 1.5rem;
  object-fit: contain;
  margin-left: 0.4rem;
}

.trending,
.popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.6rem;
}

.trending__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 48%;
  height: 25.1rem;
  border-radius: 1.6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/trading-item-back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trending__plash {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.4rem;
  line-height: 1.14;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1.6rem;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
}

.trending__plash img {
  width: 1.4rem;
  margin-left: 0.5rem;
}

.trending__footer,
.popular__footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.8rem;
  padding-left: 6.4rem;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 1.6rem;
}

.trending__header {
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 0.2rem;
}

.trending__date {
  font-size: 1rem;
  line-height: 1.2;
}

.trending__time {
  background: #ffffff;
  border-radius: 1.6rem;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.14;
  color: #000000;
  padding: 0.5rem 1.2rem;
}

.small {
  width: 3rem;
  height: 3rem;
  left: 7%;
}

.button-play__wrap.small .button-paly {
  border-top: 0.5rem solid transparent;
  border-left: 1rem solid #ffffff;
  border-bottom: 0.5rem solid transparent;
}

.popular__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 30%;
  height: 19.2rem;
  border-radius: 1.6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/popular-item-back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.popular__footer {
  padding: 0.8rem;
  padding-left: 4.7rem;
}

.small-plus {
  width: 1.8rem;
  height: 1.8rem;
  left: 9%;
}

.button-play__wrap.small-plus .button-paly {
  border-top: 0.3rem solid transparent;
  border-left: 0.6rem solid #ffffff;
  border-bottom: 0.3rem solid transparent;
}

.popular__header,
.popular__rating {
  font-size: 1rem;
  line-height: 1.2;
}

.popular__date {
  font-size: 0.8rem;
  line-height: 1.13;
}

.popular__rating {
  display: flex;
  align-items: center;
}

.popular__img {
  margin-right: 0.4rem;
}

/* .main-display__trailer:after,
.trending__item:after,
.popular__item:after, */
.aside__item:after {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.aside {
  padding-right: 5.9rem;
}

.aside__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.9rem;
}

.aside__header {
  font-size: 2rem;
  line-height: 1.15;
}

.aside__sort {
  display: flex;
  font-size: 1.4rem;
  line-height: 1.14;
}

.aside__sort-text {
  margin-right: 1.5rem;
  color: rgba(255, 255, 255, 0.4);
}

.aside__sort-select {
  display: flex;
  align-items: center;
}

.aside__sort-img {
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
  cursor: pointer;
}

.aside__sort-img img {
  width: 0.6rem;
  height: 0.6rem;
}

.aside__sort-img img:nth-child(1) {
  margin-bottom: 0.3rem;
}

.aside__item {
  position: relative;
  width: 100%;
  height: 22.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../img/trailer-item-back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.6rem;
  font-weight: 700;
  padding: 1.9rem;
  margin-bottom: 3rem;
}

.aside__views {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.19;
  z-index: 5;
}

.aside__footer {
  position: relative;
  z-index: 5;
}

.aside__item-name {
  font-size: 2.4rem;
  line-height: 1.17;
  margin-bottom: 0.5rem;
}

.aside__item-date {
  font-size: 1.4rem;
  line-height: 1.14;
}

.aside__item:nth-child(3) {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.aside__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 43rem;
  padding: 2.5rem 2.4rem 2rem;
  background-color: rgba(255, 255, 255, 0.02);
}

.aside__favorite {
  margin-bottom: 6rem;
}

.aside__favorite-text {
  font-size: 2rem;
  line-height: 1.15;
  margin-bottom: 2rem;
}

.aside__genre-items {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding-right: 5rem;
}

.aside__genre {
  font-size: 1.2rem;
  line-height: 1.17;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.purple {
  background-color: #8066f6;
}

.orange {
  background-color: #e1784f;
}

.blue {
  background-color: #63cfe1;
}

.gray {
  background-color: #2b2a2f;
}

.aside__add {
  display: flex;
  font-size: 1.4rem;
  line-height: 1.14;
  margin-bottom: 2rem;
  cursor: pointer;
}

.aside__add-round {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.5rem;
  background-color: #2b2a2f;
}

/* сетка */
@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}

/* сетка */
